<a href="https://colab.research.google.com/github/sachinkun21/Functional_Programming/blob/master/Assignment_6_Python_soma_ma'am.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
df = pd.read_excel('assg.xlsx')
df.head()

   Defect ID            Modified  ...             Detected in Release Dev Status
0       3859 2020-06-18 01:15:44  ...  Functional Testing - 2 Release        NaN
1       3564 2020-06-02 02:30:50  ...  Functional Testing - 2 Release        NaN
2       3565 2020-06-04 07:17:11  ...  Functional Testing - 2 Release        NaN
3       3468 2020-05-19 10:17:01  ...  Functional Testing - 2 Release        NaN
4       3074 2020-03-27 00:17:52  ...  Functional Testing - 2 Release        NaN

[5 rows x 28 columns]

### EDA: Checking data types of each columns

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13 entries, 0 to 12
Data columns (total 28 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Defect ID                      13 non-null     int64
 1   Modified                       13 non-null     datetime64[ns]
 2   Status                         13 non-null     object
 3   Severity                       13 non-null     object
 4   Impacted Test Cases            13 non-null     object
 5   Assigned To                    13 non-null     object
 6   Vendor Reference               4 non-null      object
 7   Vendor Status                  4 non-null      object
 8   Detected on Date               13 non-null     datetime64[ns]
 9   Due Date                       0 non-null      float64
 10  Closing Date                   0 non-null      float64
 11  Issue Type                     13 non-null     object
 12  Summary                        13 non-null     object
 13  Root Cause                     0 non-null      float64
 14  Main Product Line              2 non-null      object
 15  Actual Fix Time                0 non-null      float64
 16  Detected By                    13 non-null     object
 17  Priority                       0 non-null      float64
 18  Detected on Env                13 non-null     object
 19  Domain                         13 non-null     object
 20  Product Line / Interface Name  13 non-null     object
 21  Target Cycle                   2 non-null      object
 22  Target Release                 2 non-null      object
 23  Vendor Name                    0 non-null      float64
 24  Gap Reference                  0 non-null      float64
 25  Detected in Cycle              13 non-null     object
 26  Detected in Release            13 non-null     object
 27  Dev Status                     1 non-null      object
dtypes: datetime64[ns](2), float64(7), int64(1), object(18)
memory usage: 3.0+ KB

## Solutions:

Dropping the 0th row along axis=0:

In [3]:
df1 = df.drop([0], axis = 0)

Let's print the head i.e. Top 5 rows of DF now

In [4]:
df1.head()

   Defect ID            Modified  ...             Detected in Release Dev Status
1       3564 2020-06-02 02:30:50  ...  Functional Testing - 2 Release        NaN
2       3565 2020-06-04 07:17:11  ...  Functional Testing - 2 Release        NaN
3       3468 2020-05-19 10:17:01  ...  Functional Testing - 2 Release        NaN
4       3074 2020-03-27 00:17:52  ...  Functional Testing - 2 Release        NaN
5       3057 2020-05-07 22:12:38  ...  Functional Testing - 2 Release        NaN

[5 rows x 28 columns]

### Let's print the frequency of each term in Vendor Status and Vendor Reference using value_counts method:

In [5]:
print(df1['Vendor Status'].value_counts())
print(df1['Vendor Reference'].value_counts())

###    2
^^     1
Name: Vendor Status, dtype: int64
@       1
^^      1
####    1
Name: Vendor Reference, dtype: int64

In [6]:
df1['Vendor Reference']=df1['Vendor Reference'].str.replace('\W', '')

In [7]:
df1['Vendor Status']=df1['Vendor Status'].str.replace('\W', '')

In [8]:
print(df1['Vendor Status'].value_counts())
print(df1['Vendor Reference'].value_counts())

    3
Name: Vendor Status, dtype: int64
    3
Name: Vendor Reference, dtype: int64

As we can see, Only Empty strings are remaining and special chars have been replaced.

Let's count the NA(missing) values and replace them with 0

In [9]:
# checking each value if it is na or Not
df1.isna()

    Defect ID  Modified  ...  Detected in Release  Dev Status
1       False     False  ...                False        True
2       False     False  ...                False        True
3       False     False  ...                False        True
4       False     False  ...                False        True
5       False     False  ...                False        True
6       False     False  ...                False        True
7       False     False  ...                False        True
8       False     False  ...                False        True
9       False     False  ...                False        True
10      False     False  ...                False        True
11      False     False  ...                False        True
12      False     False  ...                False       False

[12 rows x 28 columns]

### printing sum of NA values for each column

In [10]:
df1.isna().sum()

Defect ID                         0
Modified                          0
Status                            0
Severity                          0
Impacted Test Cases               0
Assigned To                       0
Vendor Reference                  9
Vendor Status                     9
Detected on Date                  0
Due Date                         12
Closing Date                     12
Issue Type                        0
Summary                           0
Root Cause                       12
Main Product Line                11
Actual Fix Time                  12
Detected By                       0
Priority                         12
Detected on Env                   0
Domain                            0
Product Line / Interface Name     0
Target Cycle                     10
Target Release                   10
Vendor Name                      12
Gap Reference                    12
Detected in Cycle                 0
Detected in Release               0
Dev Status                       11
dtype: int64

Total NA values in DF1:

In [11]:
df1.isna().sum().sum()

144

### Replacing all na values in dataframe with 0:

In [12]:
df1.fillna(0)

### ETIHER REASSIGN LIKE: df1 = df1.fillna(0) or set inplace = True like df1.fillna(0, inplace = True)

    Defect ID  ...      Dev Status
1        3564  ...               0
2        3565  ...               0
3        3468  ...               0
4        3074  ...               0
5        3057  ...               0
6        3073  ...               0
7        3072  ...               0
8        3059  ...               0
9        3853  ...               0
10       3812  ...               0
11       3737  ...               0
12       3277  ...  Under Analysis

[12 rows x 28 columns]

In [13]:
# Still 144 values are NA
df1.isna().sum().sum()

144

### LET'S  split the date column Now:

In [14]:
df1['Modified Date'] = pd.to_datetime(df1['Modified']).dt.date
df1['Modified Time'] = pd.to_datetime(df1['Modified']).dt.time

In [15]:
df1.head()

   Defect ID            Modified Status  ... Dev Status Modified Date Modified Time
1       3564 2020-06-02 02:30:50   Open  ...        NaN    2020-06-02      02:30:50
2       3565 2020-06-04 07:17:11   Open  ...        NaN    2020-06-04      07:17:11
3       3468 2020-05-19 10:17:01   Open  ...        NaN    2020-05-19      10:17:01
4       3074 2020-03-27 00:17:52   Open  ...        NaN    2020-03-27      00:17:52
5       3057 2020-05-07 22:12:38   Open  ...        NaN    2020-05-07      22:12:38

[5 rows x 30 columns]

In [16]:
df2 = df1.drop(['Modified'], axis = 1)

In [17]:
df2.columns

Index(['Defect ID', 'Status', 'Severity', 'Impacted Test Cases', 'Assigned To',
       'Vendor Reference', 'Vendor Status', 'Detected on Date', 'Due Date',
       'Closing Date', 'Issue Type', 'Summary', 'Root Cause',
       'Main Product Line', 'Actual Fix Time', 'Detected By', 'Priority',
       'Detected on Env', 'Domain', 'Product Line / Interface Name',
       'Target Cycle', 'Target Release', 'Vendor Name', 'Gap Reference',
       'Detected in Cycle', 'Detected in Release', 'Dev Status',
       'Modified Date', 'Modified Time'],
      dtype='object')

As we can see the date Column has been dropped

In [18]:
cols = list(df2.columns.values)

In [19]:
cols

['Defect ID',
 'Status',
 'Severity',
 'Impacted Test Cases',
 'Assigned To',
 'Vendor Reference',
 'Vendor Status',
 'Detected on Date',
 'Due Date',
 'Closing Date',
 'Issue Type',
 'Summary',
 'Root Cause',
 'Main Product Line',
 'Actual Fix Time',
 'Detected By',
 'Priority',
 'Detected on Env',
 'Domain',
 'Product Line / Interface Name',
 'Target Cycle',
 'Target Release',
 'Vendor Name',
 'Gap Reference',
 'Detected in Cycle',
 'Detected in Release',
 'Dev Status',
 'Modified Date',
 'Modified Time']

In [21]:
df2 = df2[['Defect ID',
 'Modified Date',
 'Modified Time',
 'Status',
 'Severity',
 'Impacted Test Cases',
 'Assigned To',
 'Vendor Reference',
 'Vendor Status',
 'Detected on Date',
 'Due Date',
 'Closing Date',
 'Issue Type',
 'Summary',
 'Root Cause',
 'Main Product Line',
 'Actual Fix Time',
 'Detected By',
 'Priority',
 'Detected on Env',
 'Domain',
 'Product Line / Interface Name',
 'Target Cycle',
 'Target Release',
 'Vendor Name',
 'Gap Reference',
 'Detected in Cycle',
 'Detected in Release',
 'Dev Status']]

In [22]:
df2.head()

   Defect ID Modified Date  ...             Detected in Release Dev Status
1       3564    2020-06-02  ...  Functional Testing - 2 Release        NaN
2       3565    2020-06-04  ...  Functional Testing - 2 Release        NaN
3       3468    2020-05-19  ...  Functional Testing - 2 Release        NaN
4       3074    2020-03-27  ...  Functional Testing - 2 Release        NaN
5       3057    2020-05-07  ...  Functional Testing - 2 Release        NaN

[5 rows x 29 columns]

### LET"S REPLACE NULL WITH 0

In [33]:
df2['Impacted Test Cases'].value_counts()

Null    7
1       3
3       2
Name: Impacted Test Cases, dtype: int64

As we can see Null is bring counted like a string.

In [40]:
## ## TO REPLACE STRING  with in a columns with another STRING in same column
df2['Impacted Test Cases'] = df2['Impacted Test Cases'].replace('Null', '0')

In [41]:
df2['Impacted Test Cases'].value_counts()

0    7
1    3
3    2
Name: Impacted Test Cases, dtype: int64

In [42]:
## TO REPLACE STRING  with another STRING in WHOLE DF
df2.replace("Null", "0")

    Defect ID Modified Date  ...             Detected in Release      Dev Status
1        3564    2020-06-02  ...  Functional Testing - 2 Release             NaN
2        3565    2020-06-04  ...  Functional Testing - 2 Release             NaN
3        3468    2020-05-19  ...  Functional Testing - 2 Release             NaN
4        3074    2020-03-27  ...  Functional Testing - 2 Release             NaN
5        3057    2020-05-07  ...  Functional Testing - 2 Release             NaN
6        3073    2020-03-11  ...  Functional Testing - 2 Release             NaN
7        3072    2020-03-11  ...  Functional Testing - 2 Release             NaN
8        3059    2020-05-07  ...  Functional Testing - 2 Release             NaN
9        3853    2020-06-25  ...  Functional Testing - 2 Release             NaN
10       3812    2020-06-25  ...  Functional Testing - 2 Release             NaN
11       3737    2020-06-25  ...  Functional Testing - 2 Release             NaN
12       3277    2020-05-12  ...  Functional Testing - 2 Release  Under Analysis

[12 rows x 29 columns]

In [ ]:
df2.to_excel("CleanData.xlsx")