<a href="https://colab.research.google.com/github/sachinkun21/Functional_Programming/blob/master/Solution_Subjective_Assignment_1_Python_core.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Q1. Write a Python program to get the string from the given string where
all the occurrence of its first char has been changed to '$,' except first
char itself?

    Sample String: 'prospect'
    Expected Result : 'pros$ect'

In [0]:
str2 = ''
for i in str1:
  if i not in str2:
    str2+=i
  else:
    str2+='$'
str2

{'c', 'e', 'o', 'p', 'r', 's', 't'}

Q2. Write a Python program to get the single string from the two given
strings, and separated by the space and swap the first two characters of
each string?

    Sample String : 'abc', 'xyz'.
    Expected Result: 'xyc abz'

In [0]:
str1, str2 = 'abc' , 'xyz'
#[string[-1]+string[1:-1]+string[0] for string in [str1,str2]][::-1]

# str_rev = ' '.join([string for string in [str1,str2]][::-1])
# str_rev[-1]+str_rev[1:-1]+str_rev[0]
str_rev = (str2[:-1]+str1[-1]+" "+str1[:-1]+str2[-1])
str_rev

'xyc abz'

Q3. Write the Python program to add 'ing' at the end of the given string
(length of the string should be at least 3). If given string already ends
with 'ing,' then add 'ly' instead. If string length of the given string is less
than 3, leave it unchanged?


    Sample string: ' abc '
    Expected result: ' abcing '
    Sample string: ' string '
    Expected result: ' stringly '

In [0]:
string = ' string '
string = string.rstrip()
[string if len(string)<3 else string+'ly' if string[-3:]=='ing' else string+'ing']

[' stringly']

Q4. Write the Python program to find the first appearance of the
substring 'not' and 'poor' from the given string, if 'not' follows the 'poor',
replace the whole 'not'...' poor' substring with 'good'.Return the resulting
string.

    Sample string: 'The lyrics are not that poor!'
    'The lyrics are poor!'
    Expected Result: 'The lyrics are good!'
    'The lyrics are poor!'

In [0]:
Sample_string = 'The lyrics are not that poor!'

Q5. Write the Python program to remove the characters which have odd
index values of a given string.

In [0]:
''.join([j for i,j in enumerate(Sample_string) if i%2!=0])

'h yisaentta or'

Q6. Write the python program to print the following floating numbers up
to 2 decimal places?

In [0]:
num = 132.46347845
round(num,2)

132.46

Q7. Write the Python program to format a number with a percentage?

In [0]:
num = 10
str(num)+" %"

'10 %'

Q8. Write the Python program to count occurrences of a substring in a
String?

In [0]:
string= 'TheQuickBrownFoxisFoxyfox'
substr = 'Fox'

# Simplest case insensitive: Remove .lower for case senstive
string.lower().count(substr.lower())

3

Q9. Write the Python program to count repeated characters in a string.

    Sample string: ' thequickbrownjumpsoverthelazydog '
    
    Expected output:
    o 3
    e 3
    u 2
    h 2
    r 2
    t 2

In [0]:
Sample_string = ' thequickbrownjumpsoverthelazydog '
{k:Sample_string.count(k) for k in list(set(Sample_string)) if Sample_string.count(k)>1 and k!=' '  }

{'e': 3, 'h': 2, 'o': 3, 'r': 2, 't': 2, 'u': 2}

Q10. Write the Python program to print the square and cube symbol in
the area of a rectangle and volume of a cylinder?

    Sample outputThe area of the rectangle is 1256.66cm2
    The volume of the cylinder is 1254.725cm3

In [0]:
l,b = [2,3.12]
print("The area of the rectangle is: {}cm3".format(l*b))

l,b,h = [2,3.12,4]
print("The volume of the cylinder is: {}cm3".format(l*b*h))

The area of the rectangle is: 6.24cm3
The volume of the cylinder is: 24.96cm3

Q11. Write the Python program to check if a string contains all letters of
the alphabet?

In [0]:
len([True for i in 'abcdefghijklmnopqrstuvwxyz' if Sample_string.lower().find(i)!=-1])==26

False

Q12. Write the Python program to find the second most repeated word
in a given string?

In [0]:
#[(k,Sample_string.split(" ").count(k)) for k in Sample_string.split(" ")]
list1 = [(k,v) for k,v in {k:Sample_string.split(" ").count(k) for k in Sample_string.split(" ")}.items()]
list1.sort(key= lambda x:x[1])
list1[-2]

('thequickbrownjumpsoverthelazydog', 1)

Q13. Write the Python program to find the minimum window in the given
string, which will contains all the characters of another given
strings?

    Example 1
    Input : string1 = " PRWSOERIUSFK "
    string2 = " OSU "
    Output: Minimum window is "OERIUS"

In [0]:
# set("ORI")==set("OIR")

True

Q14. Write the Python program to count number of substrings from a
given string of lowercase alphabets with exactly k distinct (given)
characters?

    Input a string (lowercase alphabets): wolf
    Input k: 4
    Number of substrings with exactly 4 distinct characters: 1

In [0]:
# Simplest approach
string = 'abcd'
k=4
sum([1 for i in range(len(string)) for j in range(i,len(string)) if len(set(string[i:j+1]))==k])

1

Q15. Write the Python program to count number of substrings with same
first and last characters of the given string?

    Input a string: abcd
    4

In [13]:
# Simplest approach
string = 'abcda'

# Easy to understand
print(sum([1 for i in range(len(string)) for j in range(i,len(string)) if string[i:j+1][0]==string[i:j+1][-1] ]))

# Equivalent
print(sum([1 for i in range(len(string)) for j in range(i,len(string)) if string[i]==string[j] ]))

6
6

#### Best Approach:
As the total count just depends on frequencies of each character in (A-Z) the original string we can just count the freq of Each Character.

This would bring down the time complexity from O(n2) to O(n)(This would fail if string contains anything other then the 26 alphabets) 

For example in string abcab, frequency of ‘a’ is 2 and substrings contributing to answer are a, abca and a respectively, a total of 3, which is calculated by (frequency of ‘a’+1)C2.

In [18]:
# Best Approch
string = string.lower()
sum([string.count(alphabet)*(string.count(alphabet)+1)/2 for alphabet in ('abcdefghijklmnopqrstuvwxyz')])

6.0

## Great Job!